services:
  minisora:
    build:
      context: .
      dockerfile: Dockerfile
    image: minisora:latest
    network_mode: host
    ipc: host
    privileged: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    working_dir: /workspace/minisora
    environment:
      - TZ=Asia/Tokyo
    volumes:
      - .:/workspace/minisora
    stdin_open: true
    tty: true
    command: /bin/bash
